.item{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 4px 12px;
}

.itemActions{
    display: flex;
    gap: 10px;
}

.itemActions button{
    background: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    color: red
}

.itemActions button:hover{
    background: skyblue;
    cursor: pointer;
}
