.header{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: aliceblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;
}

.navigation{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.navigation a{
    text-decoration: none;
    font-size: 24px;
}

.navigation a:hover{
    color: skyblue;
}
